/* 4 palet utama maxima 2020 */
.mxm-pink {
	color: #F4224B;
}

.mxm-yellow {
	color: #FFD008;
}

.mxm-navy {
	color: #1F2C4C;
}

.mxm-cyan {
	color: #41CEBA;
}

/* library button */
/* blue button */
.mxm-btn-blue {
	display: flex;
	background-color: #1F2C4C;
	color: #FFD008;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-blue-ghost {
	display: flex;
	background-color: transparent;
	color: #FFD008;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-blue:hover {
	border-color: #41CEBA;
	margin: 0 0.1em 0.1em 0;
	-webkit-box-shadow: 0 8px 3px -6px grey;
	-moz-box-shadow: 0 8px 3px -6px grey;
	box-shadow: 0 8px 3px -6px grey;
}

.mxm-btn-blue:focus {
	outline: none;
	border-color: #FFD008;
	-moz-box-shadow: inset 0 0 2px #FFD008;
	-webkit-box-shadow: inset 0 0 2px #FFD008;
	box-shadow: inset 0 0 2px #FFD008;
}

/* yellow button */
.mxm-btn-yellow {
	display: flex;
	background-color: #FFD008;
	color: #1F2C4C;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-yellow-ghost {
	display: flex;
	background-color: transparent;
	color: #1F2C4C;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-yellow:hover {
	border-color: #41CEBA;
	margin: 0 0.1em 0.1em 0;
	-webkit-box-shadow: 0 8px 3px -6px grey;
	-moz-box-shadow: 0 8px 3px -6px grey;
	box-shadow: 0 8px 3px -6px grey;
}

.mxm-btn-yellow:focus {
	outline: none;
	border-color: #1F2C4C;
	-moz-box-shadow: inset 0 0 2px #1F2C4C;
	-webkit-box-shadow: inset 0 0 2px #1F2C4C;
	box-shadow: inset 0 0 2px #1F2C4C;
}

/* red button */
.mxm-btn-red {
	display: flex;
	background-color: #F4224B;
	color: #FFD008;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-red-ghost {
	display: flex;
	background-color: transparent;
	color: #FFD008;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-red:hover {
	border-color: #41CEBA;
	margin: 0 0.1em 0.1em 0;
	-webkit-box-shadow: 0 8px 3px -6px grey;
	-moz-box-shadow: 0 8px 3px -6px grey;
	box-shadow: 0 8px 3px -6px grey;
}

.mxm-btn-red:focus {
	outline: none;
	border-color: #FFD008;
	-moz-box-shadow: inset 0 0 2px #FFD008;
	-webkit-box-shadow: inset 0 0 2px #FFD008;
	box-shadow: inset 0 0 2px #FFD008;
}

/* tosca button */
.mxm-btn-tosca {
	display: flex;
	background-color: #41CEBA;
	color: #FFD008;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-tosca-ghost {
	display: flex;
	background-color: transparent;
	color: #FFD008;
	outline: none;
	font-family: canaro-bold;
	padding: 0.3em 1.2em;
	margin: 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	transition: 0.4s;
}

.mxm-btn-tosca:hover {
	border-color: #FFD008;
	margin: 0 0.1em 0.1em 0;
	-webkit-box-shadow: 0 8px 3px -6px grey;
	-moz-box-shadow: 0 8px 3px -6px grey;
	box-shadow: 0 8px 3px -6px grey;
}

.mxm-btn-tosca:focus {
	outline: none;
	border-color: #1F2C4C;
	-moz-box-shadow: inset 0 0 2px #1F2C4C;
	-webkit-box-shadow: inset 0 0 2px #1F2C4C;
	box-shadow: inset 0 0 2px #1F2C4C;
}

/*floating label example :

<form class="form-float-top">
    <div>
        <input type="text" name="name" id="name" required>
        <label for="name">Name</label>
    </div>
</form>

*/

.form-float-top > div{
	position: relative;
	overflow: hidden;
}

.form-float-top label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 10px;
	transition: 0.2s;
}

.form-float-top input{
	background: none;
	position: relative;
	padding: 15px 15px 15px 15px; 
	border: none;
	border-bottom: 1px solid black;
	z-index: 1;
	transition: 0.2s;
}

.form-float-top input:valid{
	background-color: white;
}

.form-float-top input:focus{
	outline: none;
	padding: 24px 15px 6px 15px; 
	border-color: orange;
}

.form-float-top input:focus + label{
	z-index: 2;
	font-size: 90%;
	color: orange;
	padding: 12px 0;
	margin-top: -10px;
}

/*end of floating label*/
