@font-face {
  font-family: "canaro-bold";
  src: url("../fonts/canaro_bold/CanaroW00-Bold.eot");
  src: url("../fonts/canaro_bold/CanaroW00-Bold.woff") format("woff"),
  url("../fonts/canaro_bold/CanaroW00-Bold.ttf") format("truetype"),
  url("../fonts/canaro_bold/CanaroW00-Bold.svg") format("svg");
}
@font-face {
  font-family: "canaro-medium";
  src: url("../fonts/canaro_medium/CanaroW00-Medium.eot");
  src: url("../fonts/canaro_medium/CanaroW00-Medium.woff") format("woff"),
  url("../fonts/canaro_medium/CanaroW00-Medium.ttf") format("truetype"),
  url("../fonts/canaro_medium/CanaroW00-Medium.svg") format("svg");
}

#form-list-state{
  position: absolute;
  top: 15%;
}

#title-head {
  font-family: canaro-bold;
  color: white;
}

#form-container {
  font-family: canaro-medium;
  color: black;
  margin-top: 2%;
  margin-bottom: 3%;
  padding: 5%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
  background-color: white;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (max-width: 700px){
  .mxm-wave-top{
    display: none;
  }

  #form-list-state{
    padding-top : 2vh;
    position: relative;
    background-color: #F4224B;
    padding-bottom : 2vh;
    z-index: -1;
  }

  #title-head{
    font-size: 1.5em;
    padding-bottom: 2vh;
  }

  .mxm-cont .mxm-cont-second{
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  #mxm-illus{
    margin-top: 0;
    width: 90%;
    padding-bottom: 5vh;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #form-list-state {
    padding-left: 20%;
    padding-right: 20%;
  }

  #form-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  #form-list-state {
    padding-left: 15%;
    padding-right: 15%;
  }

}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

}

#firstcont{
  padding : 10vh 10vw 0 10vw;
}

.mxm-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding : 0vh 10vw 5vh 10vw;
  margin:0;
  z-index: -1;
}

.mxm-cont img{
  width: 30%;
  padding-right: 2vw;
}

.mxm-cont h2{
  font-family: canaro-bold;
  color: #F4224B;
  text-align: center;
}

.mxm-cont-second{
  padding-top : 5vh;
  padding-bottom: 5vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:inherit;
}

.mxm-wave{
  position: absolute;
  bottom:0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: -1;
}

.mxm-wave-top{
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: -1;
}